<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      formControlName="username"
    />
    <div
      *ngIf="
        loginForm.get('username')?.invalid && loginForm.get('username')?.touched
      "
      class="text-danger"
    >
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('username'),
          error: 'required',
          msg: '*Required'
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('username'),
          error: 'email',
          msg: '*Not Email'
        }"
      ></ng-container>
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
    <div
      *ngIf="
        loginForm.get('password')?.invalid && loginForm.get('password')?.touched
      "
      class="text-danger"
    >
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('password'),
          error: 'required',
          msg: '*Required'
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('password'),
          error: 'minlength',
          msg: '* length should be greater than 2'
        }"
      ></ng-container>
    </div>
  </div>

  <div class="mb-3">
    <label for="country" class="form-label">Country</label>
    <select class="form-control" id="country" formControlName="country">
      <option [value]="null" selected>Select Country</option>
      <option *ngFor="let country of countries" [value]="country.CountryID">
        {{ country.CountryName }}
      </option>
    </select>
    <div
      *ngIf="
        loginForm.get('country')?.invalid && loginForm.get('country')?.touched
      "
      class="text-danger"
    >
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('country'),
          error: 'required',
          msg: '*Required'
        }"
      ></ng-container>
    </div>
  </div>

  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <select class="form-control" id="city" formControlName="city">
      <option [value]="null" disabled selected>Select City</option>
      <option *ngFor="let city of cities" [value]="city.CityID">
        {{ city.CityName }}
      </option>
    </select>
    <div
      *ngIf="loginForm.get('city')?.invalid && loginForm.get('city')?.touched"
      class="text-danger"
    >
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('city'),
          error: 'required',
          msg: '*Required'
        }"
      ></ng-container>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Gender</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="male"
        value="male"
        formControlName="gender"
      />
      <label class="form-check-label" for="male">Male</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="female"
        value="female"
        formControlName="gender"
      />
      <label class="form-check-label" for="female">Female</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="other"
        value="other"
        formControlName="gender"
      />
      <label class="form-check-label" for="other">Other</label>
    </div>
    <div
      *ngIf="
        loginForm.get('gender')?.invalid && loginForm.get('gender')?.touched
      "
      class="text-danger"
    >
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('gender'),
          error: 'required',
          msg: '*Required'
        }"
      ></ng-container>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Skills</label>
    <div class="form-check" *ngFor="let skill of skills">
      <input
        class="form-check-input"
        type="checkbox"
        [checked]="loginForm.value.skills?.includes(skill.id)"
        [value]="skill.id"
        (change)="onCheckBoxChange($event, skill.id)"
      />
      <label class="form-check-label" [for]="skill.id">{{ skill.name }}</label>
    </div>
    <div
      *ngIf="
        loginForm.get('skills')?.invalid && loginForm.get('skills')?.touched
      "
      class="text-danger"
    >
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('skills'),
          error: 'required',
          msg: '*At least one skill is required'
        }"
      ></ng-container>
    </div>
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <textarea
      class="form-control"
      id="address"
      formControlName="address"
    ></textarea>
    <div
      *ngIf="
        loginForm.get('address')?.invalid && loginForm.get('address')?.touched
      "
      class="text-danger"
    >
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('address'),
          error: 'required',
          msg: '*Required'
        }"
      ></ng-container>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Mobile Number</label>
    <div class="form-control">
      <input
        type="number"
        class="form-control"
        id="Mobile"
        formControlName="mobile"
      />
    </div>
    <div
      *ngIf="
        loginForm.get('mobile')?.invalid && loginForm.get('mobile')?.touched
      "
      class="text-danger"
    >
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('mobile'),
          error: 'required',
          msg: '*mobile number is required'
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="error"
        [ngTemplateOutletContext]="{
          control: loginForm.get('mobile'),
          error: 'max',
          msg: '* length should be smaller than or equals to 10'
        }"
      ></ng-container>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<div>
  {{ loginForm.value | json }}
</div>

<div>
  Selected Skills: <code>{{ loginForm.get("skills")?.value | json }}</code>
</div>
<div>
  USER ERROR : <code>{{ loginForm.controls["username"]?.errors | json }}</code>
  <br />
  PASSWORD ERROR : <code>{{ loginForm.get("password")?.errors | json }}</code>
  <br />
  COUNTRY ERROR : <code>{{ loginForm.get("country")?.errors | json }}</code>
  <br />
  CITY ERROR : <code>{{ loginForm.get("city")?.errors | json }}</code>
</div>

<ng-template #error let-control="control" let-error="error" let-msg="msg">
  <div
    *ngIf="
      control &&
      control?.touched &&
      control?.invalid &&
      control?.errors &&
      control?.errors[error]
    "
    class="text-danger"
  >
    {{ msg }}
  </div>
</ng-template>
